.grid-container {
    display: grid;
    max-width: 800px;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #div1 {
    grid-row: span 1;
    grid-column: span 1;
    background-color: purple;
  }
  #div2 {
    grid-row: span 1;
    grid-column: span 1;
    background-color: yellow;
  }
  #div3 {
    grid-row: span 1;
    grid-column: span 1;
    background-color:red;
  }
  #div4 {
    grid-row: span 1;
    grid-column: span 1;
    background-color: green;
  }